<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body th:object="${questionDTO}">
<form th:action="@{/question/edit/} +  *{id} "  method="post" >
    Pytanie:
    <input type="text" th:field="*{query}"><br>
    Pytanie otwarte?
    <input type="checkbox" th:field="*{openQuestion}"><br>
    Wielokrotny wybór
    <input type="checkbox" th:field="*{multipleChoice}"><br>


    <button type="submit" name="action" value="new">Dodaj pytanie</button>
    <button type="submit" name="action" value="save">Wyślij</button>

</form>


<ul th:each="single: ${answers}">
    <li ><a th:href="@{/question/edit/single/} +  ${single.id}" >test</a></li>
</ul>



</body>
</html>