<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body th:object="${question}">
<form th:action="@{/question/edit/} +  *{id} "  method="post" >
    ID:
    <input type="text" th:field="*{id}" th:value="*{id}"><br>
    Pytanie:
    <input type="text" th:field="*{query}"><br>
    Pytanie otwarte?
    <input type="checkbox" th:field="*{openQuestion}"><br>
    Wielokrotny wybór
    <input type="checkbox" th:field="*{multipleChoice}"><br>


        <ul th:each="single: ${question.answers}">
            <li th:text="${single.id}"></li>
</ul>

    <button type="submit" name="action" value="new">Dodaj pytanie</button>
    <button type="submit" name="action" value="save">Wyślij</button>

</form>


</body>
</html>