<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${header.title}"></h1>

<div>
    <a href="newquestion" th:href="@{/new/list/{id}/question(id=${header.id})}">New question</a>

</div>
<ul th:each="question: ${header.questions}">
    <li><a href="question" th:href="@{/question/edit/{id}(id=${question.id})}"><span
            th:text="${question.id}"></span></a></li>

</ul>


</body>
</html>